:root {
    --font-family: 'Inter', 'Helvetica Neue', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
    --accent-color: #1952BE;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::selection {
    background: #DEEFFD;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    transition: 300ms;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    transition: 300ms;
    background: #DDDDDD;
}

::-webkit-scrollbar-thumb:hover {
    transition: 300ms;
    background: #757575;
}